body {
    font-family:  "Noto Sans TC", sans-serif;
    background: linear-gradient(120deg, #a1c4fd, #c2e9fb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    text-align: center;
    color: #333;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    text-decoration: line-through;
    color: gray;
}

/*以下為class*/
.todo-container {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  width: 300px;
}
.input-area {
    display: flex;
    margin-bottom: 10px;
}
button.clear {
  width: 100%;
  margin-top: 10px;
  background: #e27800;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
/*以下為id*/
#todo-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
#add-btn {
  margin-left: 6px;
  padding: 8px 12px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#todo-list {

}
#clear-btn {

}
button.delete {
  background: #ff5f57;
  color: white;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
